<%= form_for @event, :html => { :class => "form-horizontal event" } do |f| %>

  <% if @event.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
    <div class="form-group">
      <%= f.label :title, :class => 'control-label col-lg-2' %>
      <div class="col-lg-8">
        <%= f.text_field :title, :class => 'form-control' %>
      </div>
      <%=f.error_span(:title) %>
    </div>

    <div class="form-group" style="margin-bottom: 0px">
        <div class="col-lg-10 col-lg-offset-2">
          <a href="#home" data-toggle="tab" class="btn btn-default">编辑</a>
          <a href="#preview_page" id="preview" class="btn btn-default" data-toggle="tab">预览</a>
        </div>
    </div>

    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade in active" id="home">
        <div class="form-group text-right">
          <%= f.label :body, :class => 'control-label col-lg-2' %>
          <div class="col-lg-8">
            <%= f.text_area :body, :class => 'form-control', :rows => '15' %>
            <br/>
            <a href="/markdown" style="font-size: 14px;color: blue" target="_blank">排版说明</a>
          </div>
          <%=f.error_span(:body) %>
        </div>
      </div>

      <div class="tab-pane fade" id="preview_page">
        <div class="form-group">
          <label class="control-label col-lg-2">Body Show</label>
          <div id="pre_markdown" class="col-lg-8">
            <%= render(partial: 'events/pre_markdown', locals: { text: @event.body || "" }) %>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    events_path(search_flg: 1), :class => 'btn btn-default' %>
      </div>
    </div>

<% end %>

<script type="text/javascript">

    $("#preview").click(function(){
        ajaxRequest({
            url: "/events/preview",
            data: $(this).parents("form").serialize(),
            done: function(data, status, xhr) {
                $("#pre_markdown").html(data)
            },
        });

    })

</script>
